@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    font: 16px/1.5 'Roboto', Sans-serif !important;
    height: 100%;
    box-sizing: border-box;
    background: #ecf0f5 !important;
    color: #555 !important;
}
header {
    display: inline-block;
    height: 85px;
    color: #fff;
    background: #60B857;
}
nav {
    float: right;
    height: 100%;
}
.logo {
    float: left;
    margin-left: 15px;
}
.logo a {
    text-decoration: none;
    color: #fff;
}
.logo h1 {
    margin: 0;
    margin-top: 21px;
}
.logo:hover {
    cursor: pointer;
}
.menu {
    height: 100%;
}
.menu-item {
    padding: 35px 10px 5px 10px;
    text-transform: uppercase;
    display: inline-block;
    font-size: 14px;
    text-decoration: none;
    height: 100%;
    color: #fff;
}
.menu-item:hover {
    background-color: #26A019;
    cursor: pointer;
}
.section-restaurant {
    height: 100%;
    padding: 15px 15px 0 15px;
}
.container {
    width: 80%;
    margin: auto;
    text-align: center;
    position: relative;
}
.btn-transparent {
    background: transparent;
    padding: 15px;
    border-radius: 5px;
    border: 2px solid #fff;
    color: #fff;
    text-align: center;
    display: block;
    text-transform: uppercase;
    cursor: pointer;
    margin: auto;
    width: 100%;
}
.btn-transparent:hover {
    background: #26A019;
    border: 2px solid #26A019;
}
.restaurant {
    background: #fff;
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    text-align: center;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    border-top: 1px solid #ebe5e5;
    border-left: 1px solid #ebe5e5;
}
.restaurant:hover {
    background: #26A019;
}
.restaurant-img {
    width: 290px;
    height: 190px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    border-top: 1px solid #ebe5e5;
    border-left: 1px solid #ebe5e5;
}
.restaurant-txt {
    text-align: center;
}
.reset {
    background: #fff !important;
}
a {
    text-decoration: none;
    color: #555;
    cursor: pointer;
}
.section-restaurant-header {
    height: auto;
    margin: 15px 15px 0 15px;
    padding: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    border-top: 1px solid #ebe5e5;
    border-left: 1px solid #ebe5e5;
    background: #fff;
}
.section-restaurant-header img {
    width: 100%;
    height: auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-top: 1px solid #ebe5e5;
    border-left: 1px solid #ebe5e5;
}
.section-restaurant-menu {
    background: #fff;
    height: auto;
    margin: 15px;
    padding-bottom: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-top: 1px solid #ebe5e5;
    border-left: 1px solid #ebe5e5;
}
.dishes {
    width: 100%;
    border-top: 1px solid #ebe5e5;
    border-bottom: 1px solid #ebe5e5;
    padding: 0 15px 5px 15px;
    margin-bottom: 15px;
}
.dishes h1 {
    margin-bottom: 0;
}
.dishes p {
    margin-top: 0;
    text-align: left;
}
.dishes a {
    text-align: right;
    float: right;
    color: #3c8dbc;
    cursor: pointer;
}
.dishes:hover {
    background: #26A019;
    color: #fff;
}
.dishes:hover a {
    color: #fff;
}
.price {
    display: inline-block;
    text-align: left !important;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}
.restaurant-info {
    text-align: center;
}
.restaurant-menu {
    text-align: center;
}
.section-restaurant-cart {
    background: #fff;
    height: auto;
    margin: 0 15px 15px 15px;
    padding-bottom: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    border-top: 1px solid #ebe5e5;
    border-left: 1px solid #ebe5e5;
}
.cart-item {
    width: 100%;
    border-top: 1px solid #ebe5e5;
    border-bottom: 1px solid #ebe5e5;
    padding: 0 15px 5px 15px;
    margin-bottom: 15px;
}
.dish-name {
    text-align: left;
    display: inline-block;
}
.add-remove {
    margin-top: 20px;
    float: right;
}
.cart-price {
    text-align: right !important;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}
.cart-item:hover {
    background: #26A019;
    color: #fff;
}
.cart-item:hover .minus{
    content: url('../images/minus-white.png')
}
.cart-item:hover .plus{
    content: url('../images/plus-white.png')
}
.totals {
    padding: 0 15px 0 15px;
}
.totals p {
    text-align: left;
    display: inline-block;
}
.total-value {
    float: right;
}
.clean-pay {
    padding: 0 10px 0 10px;
    width: 100%;
    display: inline-block;
}
.btn {
    width: 100%;
    padding: 15px;
    border: 0;
    background: #555;
    color: #fff;
}
.clean {
    background: #d43f3a;
}
.pay {
    background: #60B857;
    margin-bottom: 10px;
}
.pay:hover {
    background: #26A019;
}
.clean:hover {
    background: #b31c1c
}
.plus {
    display: inline;
    content: url('../images/plus.png')
}
.minus {
    display: inline;
    content: url('../images/minus.png')
}
.add-remove-m {
    margin-right: 5px;
}
@media (min-width: 640px) {
    nav {
        float: left;
    }
    .logo {
        height: 100%;
        padding-right: 15px;
        margin-left: 75px;
    }
    .txt {
        top: 200px;
    }
    .btn-transparent {
        width: 15%;
    }
    .menu-item {
        padding: 30px 10px 5px 10px;
        font-size: 16px;
    }
    .section-restaurant {
        padding: 20px;
    }
    .restaurant {
        width: 49% !important;
        display: inline-block;
        margin-right: 10px;
        float: none !important;
    }
    .restaurant-img {
        float: left;
    }
    .restaurant-txt {
        float: right;
        margin-right: 25px;
    }
    .section-restaurant-header img {
        float: left;
        width: 20%;
        height: 100%;
        margin-top: 20px;
    }
    .restaurant-info {
        width: 50%;
        display: inline-block;
    }
    .restaurant-info p, .restaurant-info h1{
        margin-left: 15px;
        text-align: left
    }
    .section-restaurant-menu {
        float: left;
        width: 66%;
    }
    .section-restaurant-cart {
        float: right;
        margin: 15px 15px 15px 0px;
        width: 30%;
    }
    .clean {
        float: right;
        width: 30%;
    }
    .pay {
        margin: 0 0 0 15px;
        float: right;
        width: 30%;
    }
}
